.card-skeleton {
  width: calc((100% - 72px) / 4);
  height: 575px;
}
/* .card-skeleton span {
  height: 100%;
  display: block;
} */
@media (max-width: 1199px) {
  .card-skeleton {
    width: calc((100% - 48px) / 3);
  }
}
@media (max-width: 991px) {
  .card-skeleton {
    width: calc((100% - 24px) / 2);
  }
}
@media (max-width: 767px) {
  .card-skeleton {
    width: 100%;
  }
}
