.products {
  min-height: calc(100vh - (32px + 81.47px + 49px));
  position: relative;
  padding-top: 15px;
}
.products::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/src/assets/images/istockphoto-1096460950-612x612.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.03;
}
.products .container .content {
  column-gap: 15px;
}
.cart-products-added-successfully {
  z-index: 1000;
  top: 20px;
  right: 20px;
  overflow: auto;
}
.addedtocart-product {
  width: 500px;
  /* color: var(--mainColor); */
}
.addedtocart-product button {
  width: 25px;
  height: 25px;
  top: 15px;
  right: 15px;
}
.addedtocart-product .image {
  width: 15%;
  background-color: var(--thirdColor);
}
.addedtocart-product .info {
  width: 80%;
}
