.product-card {
  height: 602.43px;
  width: calc((100% - 72px) / 4);
}
.product-card .image {
  border-left: var(--mainBorder);
  border-right: var(--mainBorder);
  border-top: var(--mainBorder);
}
.product-card:hover > .image,
.product-card:hover > .text,
.product-card:hover > .btn-primary {
  border-color: var(--secondaryColor);
}
.product-card:hover > .text p span > svg {
  color: var(--mainColor);
}
.product-card:hover > .text h6 a {
  color: var(--mainColor);
}
.product-card:hover > .text p {
  color: var(--secondaryColor);
}
@media (max-width: 1199px) {
  .product-card {
    width: calc((100% - 48px) / 3);
  }
}
@media (max-width: 991px) {
  .product-card {
    width: calc((100% - 24px) / 2);
  }
}
@media (max-width: 767px) {
  .product-card {
    width: 100%;
  }
}
.product-card .image {
  height: 360px;
}
.product-card .image img {
  width: 75%;
}
@media (max-width: 1199px) {
  .product-card .image img {
    width: 67.5%;
  }
}
@media (max-width: 991px) {
  .product-card .image img {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .product-card .image img {
    width: 39%;
  }
}
.product-card .text {
  border-right: var(--mainBorder);
  border-left: var(--mainBorder);
  border-top: var(--mainBorder);
}
.product-card .text h6 a,
.product-card .text p {
  line-height: 1.6;
}
.product-card .text h6 a {
  height: 112.43px;
  padding-top: 10px;
  color: #212529;
}
.product-card .text p {
  height: 92px;
}
.product-card .text h6 {
  margin-bottom: 0;
}
.product-card .add-to-card-btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.product-card .btn-primary {
  background-color: var(--mainColor);
  border: 1px solid transparent;
}
.product-card .btn-primary:hover {
  background-color: var(--hoverColor);
  border-color: var(--hoverColor);
}
.product-card .btn-primary:focus {
  box-shadow: none;
}
