.product-card {
  width: calc((100% - 45px) / 4);
}
.product-card .image {
  border-left: var(--mainBorder);
  border-right: var(--mainBorder);
  border-top: var(--mainBorder);
}
.product-card:hover > .image,
.product-card:hover > .text,
.product-card:hover > .btn-primary {
  border-color: var(--secondaryColor);
}
.product-card:hover > .text p span > svg {
  color: var(--mainColor);
}
.product-card:hover > .text h6 a {
  color: var(--mainColor);
}
.product-card:hover > .text p {
  color: var(--secondaryColor);
}
.product-card .image {
  height: 360px;
}
.product-card .image img {
  width: 75%;
}
.product-card .text {
  border-right: var(--mainBorder);
  border-left: var(--mainBorder);
  border-top: var(--mainBorder);
}
.product-card .text h6 a,
.product-card .text p {
  line-height: 1.5;
}
.product-card .text h6 a {
  height: 100.04px;
  color: #212529;
}
.product-card .text p {
  height: 72.3px;
}
.product-card .text h6 {
  margin-bottom: 0;
}
.product-card .add-to-card-btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.product-card .btn-primary {
  background-color: var(--mainColor);
  border: 1px solid transparent;
}
.product-card .btn-primary:hover {
  background-color: var(--hoverColor);
  border-color: var(--hoverColor);
}
.product-card .btn-primary:focus {
  box-shadow: none;
}
@media (max-width: 1199px) {
  .product-card {
    width: calc((100% - 30px) / 3);
  }
  .product-card .text h6 a {
    height: 76px;
    color: #212529;
  }
  .product-card .image img {
    width: 67.5%;
  }
}
@media (max-width: 991px) {
  .product-card {
    width: calc((100% - 15px) / 2);
  }
  .product-card .image img {
    width: 60%;
  }
  .product-card .text h6 a {
    height: 72px;
  }
}
@media (max-width: 767px) {
  .product-card {
    width: 92.5%;
  }
  .product-card .image img {
    width: 42.5%;
  }
}
