.links,
.links a {
  font-size: 16px;
  color: var(--secondaryColor);
  transition: var(--mainDuration);
}
.links .delivery,
.links .delivery svg {
  transition: var(--mainDuration);
}
.links a:hover,
.links .delivery:hover svg,
.links .delivery:hover,
.links span:hover {
  color: var(--mainColor);
}

@media (max-width: 991px) {
  .links a {
    font-size: 13.75px;
  }
}
.links span {
  transform: translate(-50%, -50%);
}
.delivery svg {
  font-size: 20px;
}
