.card-skeleton {
  width: calc((100% - 60px) / 4);
  height: 571.65px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.card-skeleton .image {
  height: 360px;
}
.card-skeleton .text {
  border-top: var(--mainBorder);
}
.card-skeleton .text .heading {
  height: 100.04px;
}
.card-skeleton .text p {
  height: 72.29px;
}
.card-skeleton > span {
  height: 38.21px;
}
@media (max-width: 1199px) {
  .card-skeleton {
    width: calc((100% - 45px) / 3);
    height: 547.3px;
  }
  .card-skeleton .text .heading {
    height: 76px;
  }
  .card-skeleton .text p {
    height: 72.3px;
  }
  .card-skeleton > span {
    height: 38px;
  }
}
@media (max-width: 991px) {
  .card-skeleton {
    width: calc((100% - 30px) / 2);
    height: 543.3px;
  }
  .card-skeleton .text .heading {
    height: 72px;
  }
}
@media (max-width: 767px) {
  .card-skeleton {
    width: 92.5%;
    margin-right: 0;
  }
}
