.card-skeleton {
  width: calc((100% - 45px) / 4);
  height: 571.65px;
}
@media (max-width: 1199px) {
  .card-skeleton {
    width: calc((100% - 30px) / 3);
    height: 547.3px;
  }
}
@media (max-width: 991px) {
  .card-skeleton {
    width: calc((100% - 15px) / 2);
  }
}
@media (max-width: 767px) {
  .card-skeleton {
    width: 100%;
  }
}

.card-skeleton .image {
  height: 360px;
}
.card-skeleton .text {
  border-top: var(--mainBorder);
  height: 205.52px;
}
.card-skeleton .text .heading {
  height: 85px;
}
.card-skeleton .text p {
  height: 92px;
}
