.contact {
  height: calc(100vh - 168.97px);
  position: relative;
}
.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/src/assets/images/istockphoto-1096460950-612x612.jpg");
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.03;
}
form textarea {
  resize: none;
}
